body{
	font-family: sans-serif;
	background-image: url('https://typora----wlz.oss-cn-beijing.aliyuncs.com/beijing');
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
}
.container{
	width:380px;
	margin:7% auto;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 12px #333;
}
.header{
	text-align: center;
	padding-top: 75px;
}
.header h2{
	color:white;
	font-size: 25px;
	margin-bottom: 80px;
}
.main{
	text-align: center;
    color:white;
}
.main input,button{
	width: 300px;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
}
.main button{
	padding-left: 0;
	background-color: #83acf1;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 70px;
}
.main button:hover{
	box-shadow: 2px 2px 2px #555;
	background-color: #7799d4;
}
.main input:hover{
	box-shadow: 2px 2px 2px #555;
	background-color: #ddd;
}
.result1{
    color:white;
    text-align: center;
    font-size:25px ;
}